html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.map {
  z-index: 1;
  flex-grow: 5;
}

.userInput {
  z-index: 2000;
  position: absolute;
  width: 300px;
  height: 30px;
  margin-top: 5px;
  font-size: 1em;
  left: 80px;
}

.infoWindow {
  max-width: 250px;
  text-align: center;
}

.infoWindow {
  margin-left: 23px;
}


/* Instagram Div */
.instagramSideBar {
  background: transparent;

  margin: 0;
  padding: 0;
  flex-grow: 1;
  max-width: 150px;
  height: 100%;
  overflow: scroll;
  position: absolute;
  z-index: 1000;
  right: 0;
}

.photoList {
  margin: 0;
  padding: 0;
}

.photoItem:hover {
  cursor: pointer;
}
