html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button,
input {
  outline: 0;
}

button {
  border: none;
  position: fixed;
  z-index: 1000;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  color: #fff;
  font-size: 1em;
}

button:hover,
.photoItem:hover,
.openViewList:hover,
.closeViewList:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.map {
  z-index: 1;
  flex-grow: 5;
}

.userInput {
  display: none;
  z-index: 3000;
  position: absolute;
  width: 200px;
  height: 30px;
  margin-top: 5px;
  font-size: 1em;
  top: 50px;
  left: 80px;
}

.userInput:focus {
  width: 300px;
  transition: 0.5s;
}

.infoWindow {
  max-width: 250px;
  text-align: center;
  margin-left: 23px;
}

/* Instagram Photo Side Bar */
.instagramSideBar {
  background: #fff;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  /*max-width: 150px;*/
  width: 0;
  height: 100%;
  overflow: scroll;
  position: absolute;
  z-index: 1000;
  right: 0;
  transition: width 0.3s ease;
}

.photoList {
  margin: 0;
  padding: 0;
}

/* Weather Box */
.weatherBox {
  display: block;
  margin: 0;
  width: 100%;
  height: 220px;
  z-index: 1000;
  text-align: center;
  color: #000;
}

/* Search Toggle Button */
.search-box {
  margin: 50px 0 0 0;
  height: 45px;
}

.toggleSearch {
  background-color: #3498db;
  width: 150px;
  position: relative;
  display: block;
}

/* Weather Toggle Button */
.toggleWeather {
  left: 50px;
  bottom: 10px;
  background-color: #1abc9c;
}

/* ERROR */
.errorBox {
  position: absolute;
  top: 100px;
  left: 80px;
  z-index: 1000;
  text-align: center;
}

.errorMessage {
  margin: auto;
  padding: 10px;
  color: #000;
  opacity: 0;
  animation: fadeInOut 3s;
  background-color: #f00;
  border-radius: 30px;
  font-size: 1em;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    16% {
       opacity: 1;
    }
    84% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}

/* Off-Canvas Setting */

.openViewList {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 900;
  font-size: 1.8em;
  width: 40px;
  height: 35px;
  text-align: center;
  padding: 0 0 5px 0;
  border-radius: 10px 0 0 10px;
  color: #fff;
  /*border: 1px solid #000;*/
  background-color: #3BF9F9;
}

.openViewListIcon {
  width: 100%;
}

#instagram:target {
  transition: width 0.3s ease;
  width: 150px;
}

.closeViewList {
  position: fixed;
  background-color: #fff;
  z-index: 1500;
  font-size: 2em;
  width: 150px;
  height: 40px;
  padding: 2px 10px 2px 2px;
  color: #fff;
  box-shadow: 0 0 10px #000;
}

.close-circle {
  z-index: 1600;
}

.close-text {
  vertical-align: top;
  font-size: 1.15em;
  color: #000;
}


/* For smaller screen */
@media screen and (max-width: 540px) {

  .userInput {
    left: 35px;
    width: 200px;
  }

  .userInput:focus {
    width: 80%;
  }

  /*.instagramSideBar {
    display: none;
  }*/

  .errorBox {
    left: 50px;
  }

}
